body{
    background-color: beige;
    width: 100%;
    height: 100%;
    margin: 0;

}
.header {
    width: 100%;
    height: 80px;
    background-color: blue;
    display: flex;
    justify-content: space-between;

}
.imagen {
    width: 100px;
    height: 80px;
}
.navegador{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;

    
}
.menu{
    text-decoration: inherit;
}

.boton {
    border-radius: 1px;
    justify-content: space-between;
    padding: 30px;
    color: white
    font-weight: bolt
    flex-wrap: wrap;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    
}